/* styles.css */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(238, 238, 238);
    margin: 0px;
    min-height: 100vh;
    line-height: 1.5;
}

h1 {
    color: rgb(66, 66, 66);
    display: flex;
    justify-content: center;
}

.header {
    background-color: lightblue;
    height: 72px;
    display: flex;
}

h2,
h3,
img,
p {
    margin: 24px;
}

img {
    border: 2px solid rgb(66, 66, 66);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 32px;
    margin: 8px;
}

.flex-container {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.flex-container li {
    height: 100px;
    flex: 1;
}